# Config file for Mario Party 1 US Recompilation.

[input]
entrypoint = 0x80025C00
# Paths are relative to the location of this config file.
elf_path = "chameleontwist.jp.elf"
output_func_path = "RecompiledFuncs"

manual_funcs = [
    { name = "_bnkfPatchBank", section = ".main", vram = 0x800DCC10, size = 0xEC },
    { name = "_sndpVoiceHandler", section = ".main", vram = 0x800DE2AC, size = 0x548 },
    { name = "__CSPVoiceHandler", section = ".main", vram = 0x800DDA5C, size = 0x614 },
    { name = "func_800dd22c", section = ".main", vram = 0x800dd22c, size = 0x828 },
    { name = "func_800EAC9C", section = ".main", vram = 0x800EAC9C, size = 0x548 },
    { name = "func_800EA954", section = ".main", vram = 0x800EA954, size = 0x298 },
    { name = "func_800E9CC0", section = ".main", vram = 0x800E9CC0, size = 0x12C },
    { name = "func_800EA784", section = ".main", vram = 0x800EA784, size = 0x1D0 },
    { name = "_removeEvents", section = ".main", vram = 0x800DE220, size = 0x7C },
    { name = "func_800EABEC", section = ".main", vram = 0x800EABEC, size = 0xB0 },
    { name = "func_800df8c4", section = ".main", vram = 0x800df8c4, size = 0x58 },
    { name = "func_800df800", section = ".main", vram = 0x800df800, size = 0xC4 },
    { name = "func_800dd020", section = ".main", vram = 0x800dd020, size = 0x34 },
    { name = "func_800dd05c", section = ".main", vram = 0x800dd05c, size = 0x1D0 },

]

# Replace a direct register access with a call to the equivalent function
[[patches.hook]]
before_vram = 0x80086B6C
func = "audioproc"
text = "osAiGetLength_recomp(rdram, ctx);"
[[patches.instruction]]
vram = 0x80086B70
func = "audioproc"
value = 0x00404025 # lw $t1, 0x4($t0) -> move $t0, $v0